@font-face {
  font-family: "iconfont"; /* Project id 4535199 */
  src: url('iconfont.woff2?t=1719324170662') format('woff2'),
       url('iconfont.woff?t=1719324170662') format('woff'),
       url('iconfont.ttf?t=1719324170662') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhuanfa:before {
  content: "\e6f3";
}

.icon-weishoucang:before {
  content: "\e622";
}

.icon-shoucang:before {
  content: "\ff3a";
}

.icon-qita:before {
  content: "\e612";
}

.icon-shouye:before {
  content: "\e619";
}

.icon-wenxintongdao:before {
  content: "\e611";
}

.icon-jianzhizhaopin:before {
  content: "\e606";
}

.icon-ershouxianzhi:before {
  content: "\e603";
}

.icon-lianaijiaoyou:before {
  content: "\e604";
}

.icon-datingqiuzhu:before {
  content: "\e605";
}

.icon-xiaoyuanzhaopin:before {
  content: "\e607";
}

.icon-fengjin:before {
  content: "\e6ae";
}

.icon-zhengchang:before {
  content: "\e61d";
}

.icon-chengshi:before {
  content: "\e659";
}

.icon-shijian:before {
  content: "\e636";
}

.icon-huifu:before {
  content: "\e635";
}

.icon-renqi:before {
  content: "\e602";
}

.icon-zan:before {
  content: "\e601";
}

.icon-pinglun:before {
  content: "\e60a";
}

.icon-nansheng:before {
  content: "\e784";
}

.icon-nvsheng:before {
  content: "\e626";
}

.icon-touxiang:before {
  content: "\e60d";
}

.icon-biaoqing:before {
  content: "\e618";
}

.icon-woderizhi:before {
  content: "\e600";
}

.icon-qq-filled:before {
  content: "\e79b";
}

.icon-qq:before {
  content: "\e609";
}

.icon-GithubFilled:before {
  content: "\e666";
}

